.parent {
    display: block;
}

.gridlayout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .3em;
    width: 100%;
}

.gridlayout2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    width: 100%;
}

.box {
    background-color: rgba(0,0,0,.7);
    width: 96%;
    height: auto;
    text-align: center;
    align-content: center;
    padding: 1em;
    border-radius: 15px;
    color:#FFF;
    outline: #000;
    z-index: 1;
    font-family: monospace;
    justify-self: center;
    display: inline-block;
    align-items: center;
    border: #FFF solid 1px;
}

.bigpages {
    border-radius: 15px;
    width: 650px;
    height: 650px;
    text-align: center;
    align-content: center;
    padding: 1em;
    position: absolute;
    inset: 0;
    margin:auto;    
    background-color: rgba(0,0,0,.7);
}

.biggerpages {
    border-radius: 15px;
    width: 1000px;
    height: 650px;
    text-align: center;
    align-content: center;
    padding: 1em;
    position: absolute;
    inset: 0;
    margin:auto;    
    background-color: rgba(0,0,0,.7);
}

.main {
    background-color: rgba(0,0,0,.7);
    width: 500px;
    height: 500px;
    text-align: center;
    align-content: center;
    padding: 1em;
    border-radius: 15px;
    color:#FFF;
    outline: #000;
    z-index: 1;
    position: absolute;
    inset: 0;
    margin:auto;
}

.buttongrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .3em;
}

.button {
    border: none;
    color: white;
    background-color: rgba(138, 255, 144, 0.397);
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition: .5s linear;
    width: 100%;
    padding: .175em;
}

.button:hover {
    transform: scale(1.1);
    transition: .5s linear;
}

@media (min-aspect-ratio:16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .parent, .main, .bigpages, .biggerpages {
    width: 80%;
    height: 80%;
  }

  .main {
    height: 60%;
  }

  .box, .gridlayout {
    width: 100%;
    height: auto;
  }

  .gridlayout2 {
    display: grid;
    grid-template-columns: .5fr .5fr;
    gap: 2em;
    width: 100%;
  }

  .gridlayout2 .box {
    font-size: small;
  }

  .box img  {
    display: none;
  }
}